<h3 class='container col-6 text-center'>Sign Up</h3>

  <%= form_with url: register_url, local: true do |form| %>
    <div class="container col-6">
      <div class="input-group py-2">
          <%= form.label :email, { class: "input-group-text" } %><br>
          <%= form.text_field :email, { class: "form-control", id: "text-input-area", required: true } %></p>
      </div>

      <div class="input-group py-2">
          <%= form.label :password, { class: "input-group-text" } %><br>
          <%= form.password_field :password, { class: "form-control", id: "text-input-area", required: true } %></p>
      </div>

      <table class="container position-relative pt-1">
        <thead>
          <tr class="row">
            <th class="col-3 align-middle">
              <%= form.submit "Login", type: :submit, class: "btn btn-primary position-absolute start-0" %>
              <% end %>
            </th>
            <th class="col-5">
              <%= button_to "Sign Up with Google", '/auth/google_oauth2', class: "oauth-container btn btn-light darken-4 white black-text me-3 shadow-sm mb-5 bg-body rounded"  %>
            </th>
            <th class="col-3">
              <%= link_to "Login Instead", login_path, class: "position-absolute end-0 mt-2" %></div>
            </th>
          </tr>
        </thead>
      </table>
    </div>

