<center>
<br><br>

  <div class="pdf">
    <% if @investigation.files %>
      <iframe src="http://docs.google.com/gview?url=<%= @investigation.files %>&embedded=true" style="width:818px; height:800px;" frameborder="0">
      </iframe>
    <% end %>
  </div>
  
  <h1>WANTED: <%= @investigation.title %></h1>

  <h2><%= @investigation.subjects %><br></h2>
  <h3>Reward: <%= @investigation.reward %><br></h3>

  <p>Alias: <%= @investigation.aliases %><br></p>
  <p>Field Office: <%= @investigation.field_offices.capitalize %><br></p>

  <p>Caution: <%= @investigation.caution %><br></p>
  <p>Description: <%= @investigation.description %><br></p>
  <p>Warning: <%= @investigation.warning_message %><br></p>
  <p>Status: <%= @investigation.status %><br></p>

  <p>Date of Birth Used: <%= @investigation.dates_of_birth_used %><br></p>
  <p>Sex: <%= @investigation.sex %><br></p>
  <p>Race: <%= @investigation.race.capitalize %><br></p>
  <p>Hair Color: <%= @investigation.hair %><br></p>
  <p>Eye Color: <%= @investigation.eyes %><br></p>
  <p>Weight: <%= @investigation.weight %><br></p>
  <p>Scars and Marks: <%= @investigation.scars_and_marks %><br></p>

  <%= link_to "Submit a Tip", new_user_tip_path(@user, @investigation.uid), params: { uid: @investigation.uid, name: @investigation.title } %>
</center>

<%= content_for :nav_links do %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Map", user_locations_path(@user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Browse Investigations", user_investigations_path(@user), class: "nav-link" %>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class ="nav-link" href=<%= logout_path %>>Logout
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
<% end %>