<h1>Open Investigation: <%= @investigation.title %></h1>

<%= @investigation.caution %><br>
<%= @investigation.description %><br>
<%= @investigation.aliases %><br>
<%= @investigation.warning_message %><br><br>
<%= @investigation.dates_of_birth_used %><br>
<%= @investigation.eyes %><br>
<%= @investigation.hair %><br>
<%= @investigation.race %><br>
<%= @investigation.field_offices %><br>
<%= @investigation.files %><br>
<%= @investigation.reward_text %><br>
<%= @investigation.scars_and_marks %><br>
<%= @investigation.sex %><br>
<%= @investigation.status %><br>
<%= @investigation.subjects %><br>
<%= @investigation.weight %><br>