<h1>WANTED: <%= @investigation.title %></h1>

<h2><%= @investigation.subjects %><br></h2>
<h3>Reward: <%= @investigation.reward %><br></h3>

<p>Alias: <%= @investigation.aliases %><br></p>
<p>Field Office: <%= @investigation.field_offices.capitalize %><br></p>

<p>Caution: <%= @investigation.caution %><br></p>
<p>Description: <%= @investigation.description %><br></p>
<p>Warning: <%= @investigation.warning_message %><br></p>
<p>Status: <%= @investigation.status %><br></p>

<p>Date of Birth Used: <%= @investigation.dates_of_birth_used %><br></p>
<p>Sex: <%= @investigation.sex %><br></p>
<p>Race: <%= @investigation.race.capitalize %><br></p>
<p>Hair Color: <%= @investigation.hair %><br></p>
<p>Eye Color: <%= @investigation.eyes %><br></p>
<p>Weight: <%= @investigation.weight %><br></p>
<p>Scars and Marks: <%= @investigation.scars_and_marks %><br></p>

<p><%= @investigation.files %><br></p>