<%= image_tag('wetective-logo.png', class: 'mx-auto d-block', height: '150') %>

<div class='container text-center'>
  <h2>Browse Real Investigations</h2>
  <h3>Help Solve Real Crimes</h3>
</div>

<hr>

<div class='container' id='active-cases-section' align='center'>
    Image of a Poster Here?
  <br>
  <br>
  <%= button_to "View Active Cases", investigations_path, method: :get %>
</div>

<hr>

<div class="container" id='investigations-most-wanted-section'>
  <div class="row">
    <div class="col-6" id ='investigations-most-wanted-left' align='center'>
      <h3>Open Investigations</h3>
      <p>Help find missing persons</p>
      <%= button_to "Submit a Tip for a Missing Person", root_path, method: :get  %></div>
    <div class="col-6" id='investigations-most-wanted-right' align='center'>
      <h3>Most Wanted</h3>
      <p>Help find fugitives</p>
        <%= button_to "Submit a Tip for a Fugitive", root_path, method: :get %>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-6 my-auto" id='landing-map-left-section' align='center'>
      <p>Map Over Here</p>
    </div>
    <div class="col-6 my-auto" id='landing-map-right-section' align='center'>
      <h3>Explore Cases Near You</h3>
      <%= button_to "Explore Cases", root_path, method: :get %>
    </div>
  </div>
</div>