  <%# <div class="dialog dialog-centered">

      <div class="content">
        <div class="header">
          <h5 class="title" id="staticBackdropLabel">Submit a Tip</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> %>
        <div class="body">
          <%= form_with url: new_user_tip_url, local: true do |f| %>
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "form-control", value: "#{ @investigation.title.split(' ').first }", disabled: true, readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control", value: "#{ @investigation.title.split(' ').last }",  disabled: true, readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :state %>
              <%= f.text_field :state, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :phone %>
              <%= f.phone_field :phone, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :date %>
              <%= f.date_field :date, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :firsthand %>
              <%= f.check_box :firsthand %>
            </div>
            <div class="form-group">
              <%= f.label :details %>
              <%= f.text_area :details, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :uid, hidden: true %>
              <%= f.text_field :uid, class: "form-control", value: "#{ @investigation.uid }", hidden: true %>
            </div>
            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="cancel-button">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      <%# </div>

  </div>
</div> %>