<%= turbo_stream.replace "results" do %>
  <template>
    <div id="<%= @city %>_results">
      <span>
        <h2><%= @city %></h2>
        <turbo-stream action="remove" target="results">
          <a href="/locations">clear</a>
        </turbo-stream>
      </span>

      <br>

      <h3>Results</h3>
      <table id="<%= @city %>-table">
        <thead>
          <tr class="row">
            <th class="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @investigations.each do |inv| %>
            <tr class="row">
              <td class="col">
                <%= link_to inv.title.titleize + " - " + inv.description.truncate(50), investigation_path(inv), target: "_top" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </template>
<% end %>