<!DOCTYPE html>
<html>
  <head>
    <title>Wetective</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
     
    <%= video_tag "people.mp4", 
        autoplay: :autoplay, 
        loop: :loop, 
        muted: :muted, 
        class: "landing_video" 
    %>

    <div class="container">
      <p id="message"><%= notice || alert %></p>
      
      <div class="card border-0" id="card-background">
        <div class="card-body p-4">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <%= render 'shared/footer' %>
  </body>
</html>





