<!DOCTYPE html>
<html>
  <head>
    <title>Wetective</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <header id='header-bar'>
      <div id='header-logo'>
        <a href="/"><%= image_tag('wetective-logo.png', width: 200) %></a>
      </div>

      <div id='header-item'>
        <%= link_to "Sign Up" %>
      </div>

      <div id='header-item'>
        <%= link_to "Login" %>
      </div>
    </header>

    <br>
    <%= yield %>
    <br>
    
  </body>
</html>