<!DOCTYPE html>
<html>
  <head>
    <title>Wetective</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
      <!-- Will need to add logical for if current_user or not -->
      <!-- If current_user display options, name, profile pic -->
      <!-- If not current_user display what is currently below -->
    <div class="container">
      <br>
      <%= yield %>
      <br>
    </div>
    
  </body>
</html>





